.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
}

.header {
  background-color: blue;
  grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
  background-color: red;
  grid-area: 1 / 1 / 3 / 2;
}

.content {
  background-color: black;
  grid-area: 2 / 2 / 4 / 3;
}
